
<div class="container">
    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
<!--            Image is in /src/assets/ folder-->
            <img src="./assets/classroom.png" alt="">
        </div>
        <div class="content">
            <div class='details'>
                <h2>Courses</h2>
                <p>Design is the creation of a plan or convention for the construction of an object, system or measurable human interaction.</p>
                <a href="/courses">Show More</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="./assets/graduated.png" alt="">
        </div>
        <div class="content">
            <div class='details'>
                <h2>Students</h2>
                <p>Design is the creation of a plan or convention for the construction of an object, system or measurable human interaction.</p>
                <a href="/students">Show More</a>
            </div>
        </div>
    </div>
</div>



