
<div class="container">
    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="./assets/classroom.png" alt="">
        </div>
        <div class="content">
            <div class='details'>
                <h2>Courses</h2>
                <p> Investigate the courses that are available to our students</p>
                <a href="/courses">Show More</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="./assets/graduated.png" alt="">
        </div>
        <div class="content">
            <div class='details'>
                <h2>Students</h2>
                <p> Investigate the students that are currently enrolled in our courses</p>
                <a href="/students">Show More</a>
            </div>
        </div>
    </div>
</div>



