body{
  min-height: 100vh;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; /* Aby upewnić się, że nagłówek jest zawsze na wierzchu */
    /* tło ciemno zielone */
    background-color: rgba(0, 128, 0, 0.8);
}

nav {
  margin-top: 10vh; /* Ustawia górny margines na 10% wysokości widoku przeglądarki */
}
