<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja strona</title>
    <style>
        section {
            min-height: 100vh; /* Ustawia minimalną wysokość sekcji na 100% wysokości widoku przeglądarki */
        }
    </style>
</head>
<body>
<!--  <header @fadeInOut>-->
<!--    <h1>Witaj na mojej stronie</h1>-->
<!--  </header>-->
<!--  &lt;!&ndash; Add additional blank field &ndash;&gt;-->
<!--  <div style="height: 200px;"></div>-->
    <footer>
        <p>Copyright &copy; 2023 Moja strona</p>
    </footer>
</body>
</html>
<router-outlet />
