<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Moja strona</title>-->
<!--    <style>-->
<!--        section {-->
<!--            min-height: 100vh; /* Ustawia minimalną wysokość sekcji na 100% wysokości widoku przeglądarki */-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<router-outlet />
    <footer>
        <p>Copyright &copy; 2023 Moja strona</p>
    </footer>
<!--</html>-->

