<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Moja strona</title>-->
<!--    <style>-->
<!--        section {-->
<!--            min-height: 100vh; /* Ustawia minimalną wysokość sekcji na 100% wysokości widoku przeglądarki */-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<header class="header">
    <a href="#" class="logo">Logo</a>

    <nav class="navbar">
        <a href="#">Home</a>
        <a href="/students">Students</a>
        <a href="/courses">Portfolio</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>

    </nav>
</header>
<div class="divider"></div>

<router-outlet />


    <footer>
        <p>Copyright &copy; 2023 Moja strona</p>
    </footer>
<!--</html>-->

