<section>
    <h2>Students</h2>
    <ul>
        <li *ngFor="let student of students">
            {{ student.studentNumber }} - {{ student.person.firstName }} {{ student.person.lastName }}
        </li>
    </ul>
</section>


<div class="center">
    <button id="show-login" (click)="showLogin()">Add student to group</button>
</div>
<div class="popup" #popup>
    <div class="close-btn" (click)="closePopup()">&times;</div>
    <div class="form">
        <h2>Add Student to Group</h2>
        <div class="form-element">
            <label for="student">Select Student</label>
            <select id="student" [(ngModel)]="studentID">
                <option *ngFor="let student of students"
                        [value]="student.studentNumber">{{ student.person.firstName }} {{ student.person.lastName }}</option>
            </select>
        </div>
        <div class="form-element">
            <label for="group">Select Group</label>
            <select id="group" [(ngModel)]="groupID">
                <option *ngFor="let group of groups" [value]="group.id">{{ group.course.name }}: {{ group.dateStarted }}
                    - {{ group.dateFinished }}. {{ group.dayOfWeek }}, {{ group.type }}</option>
            </select>
        </div>
        <div class="form-element">
            <!--            Print studentID and groupID-->
            <p> {{ studentID }} {{ groupID }}</p>
            <button (click)="addStudentToGroup(studentID, groupID)">Add Student to Group</button>
        </div>
    </div>
</div>

<table class='table'>
    <caption>Students</caption>
    <thead>
    <tr>
        <th>Student Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <!--
      {
        path: 'student/details/:studentNumber',
        component: StudentDetailsComponent,
        title: 'Student Details Page'
      },-->
    <tr *ngFor="let student of students" [routerLink]="['/student/details', student.studentNumber]">
        <td>{{ student.studentNumber }}</td>
        <td>{{ student.person.firstName }}</td>
        <td>{{ student.person.lastName }}</td>
        <td>{{ student.status }}</td>

    </tr>
    </tbody>
</table>
